p{
	color: green;
	font-size: 22px
}
.listitemgreen{
	color:green;
	font-size:20px;
}
.listitemred{
	color:red;
	font-size:20px;
}
.paragraph{
	color:blue;
	font-size:25px;
}
#background {
	background-color:#bfbfbf;
}
#button {
	height:20px;
	width:75px;
	background-color:green;
	color:red;
	border-radius:15px;
}
#banner {
	height:70px;
	width:1485px;
	border:8px solid black;
	text-align:center;
	font-size:60px;
	background-color:#70baff;
	margin-bottom:35px;
}
#footer {
	height:70px;
	width:1485px;
	border:8px solid black;
	text-align:center;
	font-size:60px;
	background-color:#70baff;
	margin-top:35px;
}
.transitionmetal {
	width:25px;
	background-color:white;
	color:#4fff4d;
	border:1px solid black;
}
#one {
	height:150px;
	width:150px;
	background-color:red;
	display:inline-block;
}
#two {
	height:150px;
	width:150px;
	background-color:yellow;
	display:inline-block;
}
#three {
	height:150px;
	width:150px;
	background-color:green;
	display:inline-block;
}
#background-h {
	height: 2048px;
}
#table {
	border:5px double black;
	padding: 8px;
}
.navitem {
	list-style-type:none;
	display:inline;
	margin:10px;
	padding:10px;
	font-size:48px;
}
#navmenu {
	text-align:center;
	background-color:#70baff;
	color:green;
	border:double black;
	display:block;
}
a:link {
	color:green
}
a:visited {
	color:blue;
}
a:hover {
	color:red;
}
a:active {
	color:purple;
}
.rightside {
	float:right;
	width:48%;
}
.leftside {
	width:48%;
}
.clearfloat {
	clear:both;
}
